In [8]:
import mlflow.pyfunc
import mlflow.keras
import os
os.environ["AWS_ACCESS_KEY_ID"] = "mlflow"
os.environ["AWS_SECRET_ACCESS_KEY"] = "mlflow123"
os.environ["MLFLOW_S3_ENDPOINT_URL"] = f"http://mlflow-minio.mlflow.svc.cluster.local:9000/"
mlflow.set_tracking_uri("http://mlflow.mlflow.svc.cluster.local")
mlflow.set_experiment("bitcoin")

model_name = "BitcoinForecast"
model_version = 1

model = mlflow.keras.load_model(
    model_uri=f"models:/{model_name}/{model_version}"
)

# Get Model

In [24]:
from mlflow import MlflowClient

client = MlflowClient()
for rm in client.search_registered_models(filter_string="name = 'BitcoinForecast'"):
    print(rm)

<RegisteredModel: creation_timestamp=1664524385958, description='', last_updated_timestamp=1664524386014, latest_versions=[<ModelVersion: creation_timestamp=1664524386014, current_stage='None', description='', last_updated_timestamp=1664524386014, name='BitcoinForecast', run_id='1a5d699480ab46ab9c31d28c3550ffa0', run_link='', source='s3://mlflow/1/1a5d699480ab46ab9c31d28c3550ffa0/artifacts/model', status='READY', status_message='', tags={}, user_id='', version='1'>], name='BitcoinForecast', tags={}>

# Get Run

In [36]:
rm.latest_versions[-1].run_id

'1a5d699480ab46ab9c31d28c3550ffa0'

In [39]:
run = client.get_run(rm.latest_versions[0].run_id)

# Get Params

In [58]:
params = run.data.params

In [64]:
!pwd

/home/pierre/Realtime-MLOps/platform/training

In [67]:
from feast import FeatureStore
feature_store = FeatureStore('../../demonstration/feature_store/feature_repo')  # Initialize the feature store

feature_service = feature_store.get_feature_service("crypto_stats")
feature_store.get_historical_features(features=feature_service, entity_df=entity_df)

NameError: name 'entity_df' is not defined

datetime.datetime(2022, 3, 1, 4, 40)

In [ ]:
pd.date_range(params["data_to"], datetime.now()

In [144]:
entity_df = pd.DataFrame.from_dict(
    {
        "symbol": "BTC/USD",
        "event_timestamp": [item for item in pd.date_range(datetime.fromtimestamp(float(params["data_to"])), datetime.now(), freq='5min')]
    }
)

In [145]:
entity_df

        symbol     event_timestamp
0      BTC/USD 2022-03-01 04:40:00
1      BTC/USD 2022-03-01 04:45:00
2      BTC/USD 2022-03-01 04:50:00
3      BTC/USD 2022-03-01 04:55:00
4      BTC/USD 2022-03-01 05:00:00
...        ...                 ...
61450  BTC/USD 2022-09-30 13:30:00
61451  BTC/USD 2022-09-30 13:35:00
61452  BTC/USD 2022-09-30 13:40:00
61453  BTC/USD 2022-09-30 13:45:00
61454  BTC/USD 2022-09-30 13:50:00

[61455 rows x 2 columns]

In [146]:
import pandas as pd
from datetime import datetime

#entity_sql = f"""
#    SELECT
#        symbol,
#        timestamp
#    FROM {feature_store.get_data_source("crypto_source").get_table_query_string()}
#    WHERE timestamp WHERE timestamp > TO_TIMESTAMP(1646106000.0))
#"""

training_df = feature_store.get_historical_features(
    entity_df=entity_df,
    features=feature_store.get_feature_service("crypto_stats")
)

In [149]:
df = training_df.to_df()
df = df.dropna()
first = df.index[0].timestamp()
last = df.index[-1].timestamp()

In [159]:
df['y'] = df['close'].shift(-1)
df = df[:-1]

In [161]:
df = df[["open" ,"high", "low", "close", "y"]].drop_duplicates()

In [162]:
df

           open      high       low     close         y
0      43046.58  43046.58  43046.58  43046.58  19583.12
61384  19585.50  19592.66  19551.87  19583.12  19594.51
61385  19578.09  19597.23  19558.89  19594.51  19555.99
61386  19586.98  19600.10  19555.99  19555.99  19552.24
61387  19574.98  19574.98  19546.56  19552.24  19578.24
61388  19559.32  19586.20  19550.35  19578.24  19553.80
61389  19572.75  19572.75  19553.80  19553.80  19563.16
61390  19547.56  19565.01  19537.45  19563.16  19554.68
61391  19561.98  19561.98  19551.29  19554.68  19538.52
61392  19557.35  19557.35  19538.52  19538.52  19529.05
61393  19529.41  19534.15  19529.05  19529.05  19536.53
61394  19544.62  19544.62  19536.53  19536.53  19583.97
61395  19545.06  19583.97  19545.06  19583.97  19619.45
61396  19580.60  19619.45  19580.60  19619.45  19595.00
61397  19628.80  19628.80  19595.00  19595.00  19582.78
61398  19592.19  19598.74  19575.18  19582.78  19585.61
61399  19578.20  19595.95  19578.20  19585.61  19568.84
61400  19590.41  19590.41  19568.84  19568.84  19543.99
61401  19570.10  19570.10  19543.99  19543.99  19541.96
61402  19541.32  19562.22  19538.60  19541.96  19549.66
61403  19533.07  19554.29  19533.07  19549.66  19539.65
61404  19550.98  19550.98  19538.48  19539.65  19516.15
61405  19529.91  19529.91  19516.15  19516.15  19529.70
61406  19516.34  19529.70  19516.34  19529.70  19521.06
61407  19539.78  19539.78  19518.04  19521.06  19504.00
61408  19525.56  19525.56  19504.00  19504.00  19539.31
61409  19511.79  19543.33  19507.01  19539.31  19532.53
61410  19545.05  19547.94  19532.53  19532.53  19545.54
61411  19542.81  19545.54  19535.81  19545.54  19557.41
61412  19554.52  19558.39  19551.93  19557.41  19492.35
61413  19535.46  19535.46  19492.35  19492.35  19498.98
61414  19493.84  19514.97  19486.91  19498.98  19498.95
61415  19535.43  19535.43  19498.95  19498.95  19547.55
61416  19507.71  19547.55  19507.05  19547.55  19517.05
61417  19539.98  19539.98  19517.05  19517.05  19489.26
61418  19515.27  19527.24  19489.26  19489.26  19473.38
61419  19467.95  19487.75  19467.95  19473.38  19469.74
61420  19448.77  19481.04  19448.77  19469.74  19478.95
61421  19469.71  19483.26  19469.71  19478.95  19466.23
61422  19477.27  19477.27  19465.12  19466.23  19457.93
61423  19464.62  19464.62  19442.75  19457.93  19454.93
61424  19462.87  19477.65  19454.93  19454.93  19475.78
61425  19464.31  19475.78  19464.31  19475.78  19488.44
61426  19471.24  19488.44  19471.24  19488.44  19498.29
61427  19497.91  19499.61  19497.69  19498.29  19471.21
61428  19489.49  19489.49  19471.21  19471.21  19480.75
61429  19476.31  19486.94  19476.31  19480.75  19475.41
61430  19489.66  19489.66  19475.41  19475.41  19436.79

In [155]:
from sklearn.model_selection import train_test_split
random_state = 42
train_size = 0.8
X = df[['open', 'high', 'low', 'close']]
y = df['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=train_size, random_state=random_state)

KeyError: 'y'