# CSV to SQL

In [2]:
import pandas as pd
df = pd.read_csv('../../../demonstration/apps/basic-model/BTC-2021min.csv')
df["unix"] = df["unix"].astype('datetime64[s]')
df["date"] = df["date"].astype('datetime64[s]')
df["timestamp"] = df["unix"]
df["timestamp_created"] = df["unix"]
df.drop(["unix", "date", "Volume BTC", "Volume USD"], inplace=True, axis=1)

from sqlalchemy import create_engine
engine = create_engine('postgresql://feast:feast@offline-store-postgresql.feast.svc.cluster.local:5432/feast')
df.to_sql('crypto_source', engine, index=False)

,symbol,open,high,low,close,timestamp,timestamp_created
0,BTC/USD,43046.58,43046.58,43046.58,43046.58,2022-03-01 03:43:00,2022-03-01 03:43:00
1,BTC/USD,43018.23,43046.59,43018.23,43046.58,2022-03-01 03:41:00,2022-03-01 03:41:00
2,BTC/USD,43022.24,43022.24,43016.03,43016.03,2022-03-01 03:40:00,2022-03-01 03:40:00
3,BTC/USD,43035.16,43035.16,42999.44,42999.44,2022-03-01 03:39:00,2022-03-01 03:39:00
4,BTC/USD,43077.82,43077.82,43049.46,43049.46,2022-03-01 03:38:00,2022-03-01 03:38:00
...,...,...,...,...,...,...,...
610777,BTC/USD,29021.86,29023.38,28982.33,28999.50,2021-01-01 00:05:00,2021-01-01 00:05:00
610778,BTC/USD,29048.13,29057.73,29035.61,29045.19,2021-01-01 00:04:00,2021-01-01 00:04:00
610779,BTC/USD,29037.68,29069.39,29019.00,29048.13,2021-01-01 00:03:00,2021-01-01 00:03:00
610780,BTC/USD,29069.80,29073.02,29028.14,29035.89,2021-01-01 00:02:00,2021-01-01 00:02:00
610781,BTC/USD,29007.31,29086.90,29007.31,29083.47,2021-01-01 00:01:00,2021-01-01 00:01:00

# Read and Write online Features

In [17]:
from feast import FeatureStore
from datetime import datetime, timedelta
store = FeatureStore(repo_path="feature_repo")

In [18]:
store.list_entities()[0].name

'crypto'

build dataframe to access online store data

In [22]:
entity_df = pd.DataFrame.from_dict(
{"symbol": ["BTC/USD"], "event_timestamp": datetime.now() - timedelta(days=365)}
)

features=[
    "crypto_stats:open",
    "crypto_stats:high",
    "crypto_stats:low",
    "crypto_stats:close",
]

online_features = store.get_online_features(
    features=features,
    entity_rows=[
        {"symbol": "BTC/USD"},]
).to_df()

In [ ]:
#empty online store

    symbol close  open   low  high
0  BTC/USD  None  None  None  None

Create some new sample data

In [24]:
df_new = pd.DataFrame(
[ {'symbol': 'BTC/USD', 'low': 30000.12, 'high': 30000.39, 'open': 21123.12, 'close': 21130.39, 'timestamp': 1663679999.863017, 'timestamp_created': 1663689999.157469}, ] )

In [25]:
df_new["timestamp"] = df_new["timestamp"].astype('datetime64[s]')
df_new["timestamp_created"] = df_new["timestamp_created"].astype('datetime64[s]')

In [26]:
df_new

,symbol,low,high,open,close,timestamp,timestamp_created
0,BTC/USD,30000.12,30000.39,21123.12,21130.39,2022-09-20 13:19:59,2022-09-20 16:06:39

write to online store

In [27]:
from feast.data_source import PushMode

store.write_to_online_store("crypto_stats", df_new, allow_registry_cache = False)
#store.write_to_offline_store("crypto_stats", df_new, reorder_columns = True)
#store.push("crypto_push_source", df_new, to=PushMode.ONLINE_AND_OFFLINE)

In [28]:
online_features = store.get_online_features(
    features=features,
    entity_rows=[
        {"symbol": "BTC/USD"},]
).to_df()
online_features

    symbol         close          open           low          high
0  BTC/USD  21130.390625  21123.119141  30000.119141  30000.390625