# CSV to SQL

In [16]:
import pandas as pd
df = pd.read_csv('../../demonstration/basic-model/BTC-2021min.csv')
df["unix"] = df["unix"].astype('datetime64[s]')
df["date"] = df["date"].astype('datetime64[s]')
df["timestamp"] = df["unix"]
df["timestamp_created"] = df["unix"]
df.drop(["unix", "date", "Volume BTC", "Volume USD"], inplace=True, axis=1)

from sqlalchemy import create_engine
engine = create_engine('postgresql://feast:feast@offline-store-postgresql.feast.svc.cluster.local:5432/feast')
df.to_sql('crypto_source', engine, index=False)

782

# Read and Write online Features

In [2]:
import pandas as pd
from feast import FeatureStore
from datetime import datetime, timedelta
store = FeatureStore(repo_path="feature_repo")

In [3]:
store.list_entities()[0].name

'crypto'

build dataframe to access online store data

In [4]:
entity_df = pd.DataFrame.from_dict(
{"symbol": ["BTC/USD"], "event_timestamp": datetime.utcnow() - timedelta(days=365)}
)

features=[
    "crypto_stats:open",
    "crypto_stats:high",
    "crypto_stats:low",
    "crypto_stats:close",
]

online_features = store.get_online_features(
    features=features,
    entity_rows=[
        {"symbol": "BTC/USD"},]
).to_df()

In [5]:
online_features

    symbol  open close   low  high
0  BTC/USD  None  None  None  None

Create some new sample data

In [21]:
df_new = pd.DataFrame(
[ {'symbol': 'BTC/USD', 'low': 30000.12, 'high': 30000.39, 'open': 21123.12, 'close': 21130.39, 'timestamp': 1663679999.863017, 'timestamp_created': 1663689999.157469}, ] )

In [22]:
df_new["timestamp"] = df_new["timestamp"].astype('datetime64[s]')
df_new["timestamp_created"] = df_new["timestamp_created"].astype('datetime64[s]')

In [23]:
df_new

,symbol,low,high,open,close,timestamp,timestamp_created
0,BTC/USD,30000.12,30000.39,21123.12,21130.39,2022-09-20 13:19:59,2022-09-20 16:06:39

write to online store

In [24]:
from feast.data_source import PushMode

store.write_to_online_store("crypto_stats", df_new, allow_registry_cache = False)
#store.write_to_offline_store("crypto_stats", df_new, reorder_columns = True)
#store.push("crypto_push_source", df_new, to=PushMode.ONLINE_AND_OFFLINE)

In [33]:
online_features = store.get_online_features(
    features=features,
    entity_rows=[
        {"symbol": "BTC/USD"}]
).to_df()
online_features

    symbol          high          open           low         close
0  BTC/USD  19110.820312  19110.820312  19058.130859  19076.300781